.keypad {
    min-width: 200px;
    .modal-header {
        color: #fff;
        background-color: #64b5f6;
    }
    .k_input, .k_btn  {
        color: #75787d;
        background-color: #eceff1;
        border: 1px solid #a6a9ae;
        outline: none;
    }
    .k_input {
        width: 100%;
        padding: 25px 15px;
        font-size: 45px;
    }
    .btn_wrapper {
        margin: 15px -1% 0 -1%;
        .k_btn {
            width: 23%;
            float: left;
            padding: 10px 15px;
            margin: 1%;
            &:nth-child(-n+4) {
                margin-top: 0;
            }
            &:nth-last-child(-n+4) {
                margin-bottom: 0;
            }
            &:hover:not([disabled]) {
                background-color: #ffeaba;
            }
            &.red_color, &.red_color:hover {
                color: #fff;
                background-color: #ff586b;
            }
            &.blue_color, &.blue_color:hover {
                color: #fff;
                background-color: #0C6D6E;
            }
            i {
                font-size: 18px;
            }
        }
    }
}

