<div class="keypad">
  <div class="modal-header">
    <h4 class="modal-title">{{ "keypad" | translate }}</h4>
  </div>
  <div class="modal-body">
    <input [(ngModel)]="qty" type="number" class="k_input" readonly>
    <div class="btn_wrapper clearfix">
      <button class="k_btn" (click)="doClick('1')">1</button>
      <button class="k_btn" (click)="doClick('2')">2</button>
      <button class="k_btn" (click)="doClick('3')">3</button>
      <button class="k_btn" (click)="doClick('back')"><i class="fa fa-long-arrow-left"></i></button>
      <button class="k_btn" (click)="doClick('4')">4</button>
      <button class="k_btn" (click)="doClick('5')">5</button>
      <button class="k_btn" (click)="doClick('6')">6</button>
      <button class="k_btn red_color" (click)="doClick('clear')">C</button>
      <button class="k_btn" (click)="doClick('7')">7</button>
      <button class="k_btn" (click)="doClick('8')">8</button>
      <button class="k_btn" (click)="doClick('9')">9</button>
      <button class="k_btn blue_color" (click)="doSelect()">Enter</button>
      <button class="k_btn" [disabled]="true">&nbsp;</button>
      <button class="k_btn" (click)="doClick('0')">0</button>
      <button class="k_btn" [disabled]="true">&nbsp;</button>
      <button class="k_btn" [disabled]="true">&nbsp;</button>
    </div>
  </div>
</div>  
 
 