<div class="bg-lighten-2 full-width full-height">
    <div class="height-25-per">
        <div class="row">
            <div class="col" style="overflow:auto">
              <table class="table table-striped table-hover">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Price</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let record of data | async | paginate : {id:'paginationTable' , itemsPerPage: pageLimit, currentPage: currentPage, totalItems : totalTableData}; let i = index"  (click)="itemClicked(record)">
                          <th scope="row">{{ (i+1) + (currentPage-1)*pageLimit }}</th>
                          <td>
                              <span>
                                  {{record.name}}
                              </span>
                          </td>
                          <td>
                              <span>
                                  {{record.price}}
                              </span>
                          </td>
                      </tr>
                  </tbody>
              </table>
            </div>
        </div>
        <div class="row ">
            <div class="col col-lg-3 ">
                <span *ngIf="pageLimit + (currentPage-1) * pageLimit < totalTableData ">Showing {{ 1 + (currentPage-1) * pageLimit}} to {{ pageLimit + (currentPage-1) * pageLimit}}
                    of {{totalTableData}}
                </span>
                <span *ngIf="pageLimit + (currentPage-1) * pageLimit>= totalTableData">Showing {{ 1 + (currentPage-1) * pageLimit}} to {{ totalTableData}} of {{totalTableData}} </span>
            </div>
            <div class="col col-lg-9 text-right">
                <pagination-controls (pageChange)="getPage($event)" id="paginationTable"></pagination-controls>
            </div>
        </div>
    </div>
</div>