<ar-back-button (click)="doBack()"></ar-back-button>
<div class="row">
  <div class="col-md-12">
      <h4>Expense Detail</h4>
  </div>
</div>
<section class="invoice-template">
  <div class="card">
      <div class="card-body p-3">
          <div id="invoice-template" class="card-block">
              <div id="invoice-customer-details" class="row pt-2">
                  <div class="col-6"></div>
                  <div class="col-6 text-right">
                      <p><span class="text-muted">Date :</span> {{data.created_at}}</p>
                      <p><span class="text-muted">No :</span> {{data.expense_no}}</p>
                      <p><span class="text-muted">Total :</span> {{data.total}}</p>
                  </div>
                  <div class="col-12">
                    <p><span class="text-muted" *ngIf="data.remark">Remark :</span> {{data.remark}}</p>
                  </div>
              </div>
              <div id="invoice-items-details" class="pt-2">
                  <div class="row">
                      <div class="table-responsive col-sm-12">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>Name</th>
                                      <th class="text-right">Price</th>
                                      <th class="text-right">Qty</th>
                                      <th class="text-right">Total</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let record of data['items']; let i = index">
                                      <th scope="row">{{ i+1 }}</th>
                                      <td>
                                          {{record.item_name}}
                                      </td>
                                      <td class="text-right">MMK {{record.price}}</td>
                                      <td class="text-right">{{record.qty}}</td>
                                      <td class="text-right">MMK {{record.total}}</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>