<div class="row">
  <div class="col-xl-6 col-lg-6 col-12 bottom-30">
      <div widget class="card o-visible">
          <div class="card-header">
              <h4 class="card-title">{{ "search" | translate }}</h4>
          </div>
          <div class="card-block">
              <div class="card-content">
                  <!-- <div class="row">
                      <div class="col-sm-12">
                          <div class="form-group">
                              <label for="inputFirstName">{{ "filter_name" | translate }}</label>
                              <input type="text" class="form-control" id="filter_name" placeholder='{{ "active_filter" | translate }}' [(ngModel)]="activeFilterName">
                          </div>
                      </div>
                  </div> -->
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label for="Name">{{ "name" | translate }}</label>
                              <input type="text" class="form-control" placeholder='{{ "search" | translate }}' [(ngModel)]="search.name">
                          </div>
                      </div>
                  </div>
                  <hr>
                  <div class="row">
                      <div class="col-6">
                          <ar-search-filter-button (click)="getPage(1,1)"></ar-search-filter-button>
                          <ar-clear-filter-button (click)="clearFilter()"></ar-clear-filter-button>
                      </div>
                      <!-- <div class="col-6 text-right">
                          <ar-save-filter-button (click)="doSaveFilter()"></ar-save-filter-button>
                          <ar-delete-filter-button (click)="doDeleteFilter()"></ar-delete-filter-button>
                      </div> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- <div class="col-xl-6 col-lg-6 col-12 bottom-30">
      <div widget class="card">
          <div class="card-header">
              <h4 class="card-title">{{ "saved_search" | translate }}</h4>

          </div>
          <div class="card-body widget-body">
              <div class="card-block">
                  <div class="d-inline-block" style="margin-bottom:5px" *ngFor="let item of savedFilter">
                      <button type="button" class="btn btn-outline-primary transition" (click)="doApplyFilter(item)">{{item.filter_name}}</button>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
</div>

<div class="row">
  <div class="col-12 bottom-30">
      <div widget class="card">
          <div class="card-header">
              <h4 class="card-title">{{ "Menu" | translate }}</h4>
          </div>
          <div class="card-body widget-body">
              <div class="card-block">
                  <div class="row">
                      <div class="col-md-3">
                          <div class="d-inline-block" *ngIf="allow_add">
                              <ar-add-button (click)="doAdd()"></ar-add-button>
                          </div>
                      </div>
                      <div class="col-md-6 text-right">
                              <div class="form-group row">
                                  <label class="col-md-3 label-control" for="projectinput1">{{"sort_by" | translate}}</label>
                                  <div class="col-md-3">
                                      <select class="form-control" id="department" (change)="getPage(currentPage)" [(ngModel)]="order.by">
                                        <option value=""></option>
                                        <option *ngFor="let item of tableHeader" value="{{item.field_name}}">{{item.label}}</option>
                                      </select>
                                  </div>
                                  <label class="col-md-3 label-control" for="projectinput1">{{"sort_dir" | translate}}</label>
                                  <div class="col-md-3">
                                      <select class="form-control" id="department" (change)="getPage(currentPage)" [(ngModel)]="order.dir">
                                        <option value=""></option>                          
                                        <option value="asc">{{"ascending" | translate}}</option>
                                        <option value="desc">{{"descending" | translate}}</option>
                                        
                                      </select>
                                  </div>
                              </div>
                            </div>
                      <div class="col-md-3 text-right">
                          <div class="form-group">
                              <select class="form-control" id="department" (change)="getPage(1)" [(ngModel)]="pageLimit">
                                  <option *ngFor="let option of pageLimitOptions" value="{{option}}">{{option}}</option>
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col" style="overflow:auto">
                          <table class="table table-striped table-hover">
                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>{{ "action" | translate }}</th>
                                      <th *ngFor="let item of tableHeader">{{item.label | translate}}</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let record of data | async | paginate : {id:'paginationTable' , itemsPerPage: pageLimit, currentPage: currentPage, totalItems : totalTableData}; let i = index">
                                      <th scope="row">{{ (i+1) + (currentPage-1)*pageLimit }}</th>
                                      <td nowrap>
                                          <div class="floating-btn">
                                              <ar-view-button *ngIf="allow_view" (click)="doView(record.id)"></ar-view-button>
                                              <ar-edit-button *ngIf="allow_edit" (click)="doEdit(record.id)"></ar-edit-button>
                                              <ar-delete-button *ngIf="allow_delete" (click)="selectData(record)"></ar-delete-button>
                                          </div>                                           
                                      </td>
                                      <td *ngFor="let item of tableHeader">
                                          <span *ngIf="item.type == 'string'">
                                              {{record[item.field_name]}}
                                          </span>
                                          <span *ngIf="item.type == 'currency'">
                                              {{record[item.field_name] | arCurrency }}
                                          </span>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <div class="row ">
                      <div class="col col-lg-3 ">
                          <span *ngIf="pageLimit + (currentPage-1) * pageLimit < totalTableData ">Showing {{ 1 + (currentPage-1) * pageLimit}} to {{ pageLimit + (currentPage-1) * pageLimit}}
                              of {{totalTableData}}
                          </span>
                          <span *ngIf="pageLimit + (currentPage-1) * pageLimit>= totalTableData">Showing {{ 1 + (currentPage-1) * pageLimit}} to {{ totalTableData}} of {{totalTableData}} </span>
                      </div>
                      <div class="col col-lg-9 text-right">
                          <pagination-controls (pageChange)="getPage($event)" id="paginationTable"></pagination-controls>
                      </div>
                  </div>
                  <!-- <ar-add-button (click)="doAdd()" *ngIf="allow_add"></ar-add-button> -->
              </div>
          </div>
      </div>
  </div>
</div>


<!-- <div class="modal fade" id="delete-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="modal-small-label" style="display: none;">
  <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
          <div class="modal-header state modal-danger">
              <h4 class="modal-title" id="modal-label">Confirm Delete</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
          </div>
          <div class="modal-body">
              Alert
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="doDelete(1)">Ok</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div> -->