<div class="row">
  <div class="col-12 bottom-30">
      <div widget class="card">
          <div class="card-header">
              <h4 class="card-title">{{ "user" | translate }}</h4>
          </div>
          <div class="card-body widget-body">
              <div class="card-block">
                <div class="row">
                    <div class="col-md-2">
                        <div class="d-inline-block" *ngIf="allow_add">
                            <ar-add-button (click)="doAdd()"></ar-add-button>
                        </div>
                    </div>
                    <div class="col-md-8 text-right">
                        
                    </div>
                    <div class="col-md-2 text-right">
                        
                    </div>
                </div>
                  <div class="row">
                      <div class="col" style="overflow:auto">
                          <table class="table table-striped table-hover">
                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>{{ "Action" | translate }}</th>
                                      <th *ngFor="let item of tableHeader">{{item.label | translate}}</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let record of data | async | paginate : {id:'paginationTable' , itemsPerPage: pageLimit, currentPage: currentPage, totalItems : totalTableData}; let i = index">
                                      <th scope="row">{{ (i+1) + (currentPage-1)*pageLimit }}</th>
                                      <td nowrap>
                                          <div class="floating-btn">
                                              <!-- <ar-view-button *ngIf="allow_view" (click)="doView(record.id)"></ar-view-button> -->
                                              <ar-edit-button *ngIf="allow_edit" (click)="doEdit(record.id)"></ar-edit-button>
                                              <ar-delete-button *ngIf="allow_delete" (click)="selectData(record)"></ar-delete-button>
                                          </div>
                                      </td>
                                      <td *ngFor="let item of tableHeader">
                                          <span *ngIf="item.type == 'string'">
                                              {{record[item.field_name]}}
                                          </span>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <div class="row ">
                      <div class="col col-lg-3 ">
                          <span *ngIf="pageLimit + (currentPage-1) * pageLimit < totalTableData ">Showing {{ 1 + (currentPage-1) * pageLimit}} to {{ pageLimit + (currentPage-1) * pageLimit}} of {{totalTableData}} </span>
                          <span *ngIf="pageLimit + (currentPage-1) * pageLimit>= totalTableData">Showing {{ 1 + (currentPage-1) * pageLimit}} to {{ totalTableData}} of {{totalTableData}} </span>
                      </div>
                      <div class="col col-lg-9 text-right">
                          <pagination-controls (pageChange)="getPage($event)" id="paginationTable"></pagination-controls>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>