<ar-back-button (click)="doBack()"></ar-back-button>
<div class="row">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <h4 class="card-title ">{{ "menu_detail" | translate }}</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <form (ngSubmit)="onSubmit(recordForm)" [formGroup]="recordForm">
                        <div class="row">
                            <div class="col-sm-6">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name">{{ "name" | translate }}</label>
                                    <input type="text" class="form-control checking-field" formControlName="name" name="name">
                                    <span class="help-block text-danger" *ngIf="recordForm.get('name').touched && recordForm.get('name').hasError('required')">Field is required</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="Price">{{ "price" | translate }}</label>
                                    <input type="number" class="form-control checking-field" formControlName="price" name="price">
                                    <span class="help-block text-danger" *ngIf="recordForm.get('price').touched && recordForm.get('price').hasError('required')">Field is required</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions right">
                            <ar-back-button (click)="doBack()"></ar-back-button>
                            <ar-submit-button></ar-submit-button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>