<div class="modal-header">
    <div class="row">
        <div class="col-10">
            <h4 class="modal-title">{{ "item" | translate }}</h4>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col">
            <form (ngSubmit)="onSubmit(recordForm)" [formGroup]="recordForm">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name">{{ "name" | translate }}</label>
                            <input type="text" class="form-control checking-field" formControlName="item_name" name="item_name">
                            <span class="help-block text-danger" *ngIf="recordForm.get('item_name').touched && recordForm.get('item_name').hasError('required')">Field is required</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="price">{{ "price" | translate }}</label>
                            <input type="number" class="form-control checking-field" [(ngModel)]="item_price" formControlName="price" name="price" (keyup)="sum()">
                            <span class="help-block text-danger" *ngIf="recordForm.get('price').touched && recordForm.get('price').hasError('required')">Field is required</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="qty">{{ "qty" | translate }}</label>
                            <input type="number" class="form-control checking-field" [(ngModel)]="item_qty" formControlName="qty" name="qty" (keyup)="sum()">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="total">{{ "total" | translate }}</label>
                            <input type="number" class="form-control checking-field" [(ngModel)]="item_total" formControlName="total" name="total">
                        </div>
                    </div>
                </div>

                <div class="form-actions right">
                    <button class="btn btn-raised btn-danger" (click)="doCancel()">{{"cancel" | translate}}</button>
                    <ar-submit-button></ar-submit-button>
                </div>
            </form>
        </div>
    </div>
</div>