<div class="px-1 py-1 wrapper overflow-hidden">
    <div class="row height-70-per">
        <div class="col-8 full-height">
          <div class="card height-70-per" style="margin: 0;">
            <div class="card-body full-height">
              <div class="card-block full-height overflow-auto">
                <table class="table table-responsive text-center">
                  <thead>
                    <tr>
                      <th>{{"product" | translate }}</th>
                      <th>{{"quantity" | translate }}</th>
                      <th>{{"price" | translate }}</th>
                      <th>{{"total" | translate }}</th>
                      <th>{{"delete" | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let cart of carts; let i = index">
                      <td>{{cart.name}}</td>
                      <td>
                        <span (click)="add(cart)"><i class="fa fa-plus" style="font-size: 0.9em; color: green;"></i></span>
                        <!-- {{cart.qty}} -->
                        <input style="width: 62px;" type="number" class="form-control checking-field" [(ngModel)]="cart.qty" name="expense_no">
                        <span (click)="substract(cart)"><i class="fa fa-minus" style="font-size: 0.9em; color: red;"></i></span>
                      </td>
                      <td>
                          {{cart.price | arCurrency}}
                      </td>
                      <td>
                        <span>{{cart.qty * cart.price | arCurrency }}</span>
                      </td>
                      <td>
                        <a class="danger" data-original-title="" title="" (click)="doDeleteCartItem(i)">
                          <i class="fa fa-trash font-medium-3"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card height-30-per" style="margin: 0; border-top: solid black 1px ">
            <div class="card-body full-height">
              <table class="full-width full-height text-center">
                <tr>
                    <td style="width:20%;"></td>
                    <td style="width:20%;"></td>
                    <td style="width:20%;">
                        {{"SubTotal" | translate}}
                    </td>
                    <td style="width:20%;">
                        {{subtotal | arCurrency}}
                    </td>
                    <td style="width:20%;"></td>
                </tr>
                <tr>
                  <td style="width:20%;"></td>
                  <td style="width:20%;"></td>
                  <td style="width:20%;">
                      {{"Tax (5%)" | translate}}
                  </td>
                  <td style="width:20%;">
                      {{tax | arCurrency}}
                  </td>
                  <td style="width:20%;"></td>
                </tr>
                <tr>
                  <td style="width:20%;"></td>
                  <td style="width:20%;"></td>
                  <td style="width:20%;">
                      {{"Grand Total" | translate}}
                  </td>
                  <td style="width:20%;">
                      {{grandtotal | arCurrency}}
                  </td>
                  <td style="width:20%;"></td>
                </tr>
              </table>
            </div>
          </div>
          <div>
            <ar-save-filter-button style="float: right; margin-top: 10px;" (click)="saveCart()"></ar-save-filter-button>
          </div>
        </div>
        <div class="col-4 full-height">
          <app-pos-products (productClicked)="innerProductClicked($event)"></app-pos-products>
        </div>
    </div>
</div>