
<section id="login">
    <div class="container-fluid">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card gradient-red-ocean text-center width-400">
                    <div class="card-img overlap">
                        <img alt="element 06" class="mb-1" src="assets/img/portrait/avatars/logo.jpg" width="190">
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <h2 class="white">{{"login" | translate}}</h2>
                            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class=" text-left">
                                <div class="form-group">
                                    <input [formControl]="username" class="form-control checking-field" placeholder="Username" type="text">
                                    <span class="help-block text-danger" *ngIf="form.get('username').touched && form.get('username').hasError('required')">Username is required</span>
                                </div>
                                <div class="form-group">
                                    <input [formControl]="password" class="form-control checking-field" placeholder="Password" type="password">
                                    <span class="help-block text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('required')">Password is required</span>
                                </div>
                                <div class="form-group">
                                    <button [disabled]="!form.valid" class="btn btn-main btn-block" type="submit">Sign in</button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                    <div *ngIf="errFlag" style="color: red; margin-bottom: 15px">
                        <b>Invalid login!</b> Your Name and password are wrong.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Login Page Ends-->