<ar-back-button (click)="doBack()"></ar-back-button>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div class="row">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <h4 class="card-title ">{{"user" | translate }}</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <form (ngSubmit)="onSubmit(recordForm)" [formGroup]="recordForm">
                        <div class="row">
                          <div class="col-sm-6">
                              <div class="form-group">
                                  <label for="username">{{ "username" | translate }}</label>
                                  <input type="text" class="form-control checking-field" formControlName="username" name="username">
                                  <span class="help-block text-danger" *ngIf="recordForm.get('username').touched && recordForm.get('username').hasError('required')">Field is required</span>
                              </div>
                          </div> 
                          <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">{{ "email" | translate }}</label>
                                <input type="email" class="form-control checking-field" formControlName="email" name="email">
                                <span class="help-block text-danger" floating *ngIf="recordForm.controls.email.touched && !recordForm.controls.email.valid && recordForm.controls.email.value.length > 0">Invalid Email</span>
                                <span class="help-block text-danger" *ngIf="recordForm.get('email').touched && recordForm.get('email').hasError('required')">Field is required</span>
                            </div>
                          </div>                           
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="mobile">{{ "mobile" | translate }}</label>
                                  <input type="text" pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" class="form-control checking-field" formControlName="mobile" name="mobile">
                                  <span class="help-block text-danger" *ngIf="recordForm.get('mobile').touched && recordForm.get('mobile').hasError('required')">Field is required</span>
                                  <span class="help-block text-danger" floating *ngIf="recordForm.controls.mobile.touched && !recordForm.controls.mobile.valid && recordForm.controls.mobile.value.length > 0">Invalid Phone</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="password">{{ "password" | translate }}</label>
                                    <input type="password" class="form-control checking-field" formControlName="password" name="password">
                                    <span class="help-block text-danger" *ngIf="recordForm.get('password').touched && recordForm.get('password').hasError('required')">Field is required</span>
                                    <span class="help-block text-danger" *ngIf="recordForm.get('password').touched && !recordForm.get('password').valid && recordForm.get('password').value.length > 0">Password with at least 8 length, one character, one special character and one number.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="gender">{{ "gender" | translate }}</label>
                              <select class="form-control checking-field" placeholder="Select" formControlName="gender" name="gender">
                                  <option *ngFor="let item of gender" [ngValue]="item" >{{item}}</option>                                  
                              </select>
                              <span class="help-block text-danger" *ngIf="recordForm.get('gender').touched && recordForm.get('gender').hasError('required')">Field is required</span>
                            </div>
                          </div>
                        </div>
                        <div class="form-actions right">
                            <ar-back-button (click)="doBack()"></ar-back-button>
                            <ar-submit-button></ar-submit-button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>