<div class="row">
  <div class="col-12 bottom-30">
    <div widget class="card o-visible">
      <div class="card-header">
        <h4 class="card-title">{{ "sale detail report" | translate }}</h4>
      </div>
      <div class="card-block">
        <div class="card-content">
          <div class="row">
            <div class="col-sm-6">
              <label for="start_date">{{ "Start Date" | translate }}</label>
              <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="search.start_date" ngbDatepicker #d1="ngbDatepicker" id="start_date">
                  <div class="input-group-addon" (click)="d1.toggle()">
                      <i class="fa fa-calendar" style="cursor: pointer;"></i>
                  </div>
              </div>
            </div>
            <div class="col-sm-6">
                <label for="end_date">{{ "End Date" | translate }}</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="search.end_date" ngbDatepicker #d2="ngbDatepicker" id="end_date">
                    <div class="input-group-addon" (click)="d2.toggle()">
                        <i class="fa fa-calendar" style="cursor: pointer;"></i>
                    </div>
                </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-12 text-center">
              <ar-search-filter-button (click)="getData()" [ngClass]="(search.start_date == null || search.end_date == null) ? 'disabled' : ''"></ar-search-filter-button>
              <ar-clear-filter-button (click)="clearFilter()"></ar-clear-filter-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="striped-light">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{ "sale detail report" | translate }}</h4>
        </div>
        <div class="card-body widget-body">
          <div class="card-block">
              <div class="row">
                <div class="col" style="overflow:auto">
                  <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Product</th>
                        <th>Qty</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let record of recordData">
                        <td>{{record.date}}</td>
                        <td>{{record.product}}</td>
                        <td>{{record.qty}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>