<ar-back-button (click)="doBack()"></ar-back-button>

<div class="row">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <h4 class="card-title ">{{"expense" | translate }}</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <form (ngSubmit)="onSubmit(recordForm)" [formGroup]="recordForm">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="expense_no">{{ "expense no" | translate }}</label>
                                    <input type="text" class="form-control checking-field" formControlName="expense_no" name="expense_no" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="total">{{ "total" | translate }}</label>
                                    <input type="text" class="form-control checking-field" [(ngModel)]="expense_total" formControlName="total" name="expense_no">
                                    <span class="help-block text-danger" *ngIf="recordForm.get('total').touched && recordForm.get('total').hasError('required')">Field is required</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-group">
                                <label for="remark">{{ "remark" | translate }}</label>
                                <textarea class="form-control checking-field" formControlName="remark" name="remark" rows="3"></textarea>
                              </div>
                            </div>
                        </div>
                        
                        <!-- Adding new item -->
                        <div class="row form-section">
                            <div class="col-sm-6">
                                <h4 class=" mt-3">
                                <i class="fa fa-cubes"></i> {{"item" | translate}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-4 text-right">
                            </div>
                            <div class="col-sm-2 text-right">
                                <ar-add-button (click)="addItemForm()"></ar-add-button>
                            </div>
                        </div>
                        <div class="row" *ngIf="items">
                            <div class="col" style="overflow:auto">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>{{ "Action" | translate }}</th>
                                            <th>{{ "Name" | translate}}</th>
                                            <th>{{ "Price" | translate}}</th>
                                            <th>{{ "Qty" | translate}}</th>
                                            <th>{{ "Total" | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let record of recordForm.get('items').value; let i = index">
                                            <th scope="row">{{ (i+1) }}</th>
                                            <td nowrap>
                                                <div class="floating-btn">
                                                    <ar-delete-button (click)="selectData(record)"></ar-delete-button>
                                                </div>
                                            </td>
                                            <td>{{record.item_name}}</td>
                                            <td>{{record.price}}</td>
                                            <td>{{record.qty}}</td>
                                            <td>{{record.total}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="form-actions right">
                            <ar-back-button (click)="doBack()"></ar-back-button>
                            <ar-submit-button></ar-submit-button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>