<ar-back-button (click)="doBack()"></ar-back-button>

<div class="row">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <h4 class="card-title ">{{"Change Password" | translate }}</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <form (ngSubmit)="onSubmit(recordForm)" [formGroup]="recordForm">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="current_password">{{ "current_password" | translate }}</label>
                                    <input type="password" class="form-control checking-field" formControlName="current_password" name="current_password">
                                    <span class="help-block text-danger" *ngIf="recordForm.get('current_password').touched && recordForm.get('current_password').hasError('required')">Field is required</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="new_password">{{ "new_password" | translate }}</label>
                                    <input type="password" class="form-control checking-field" formControlName="new_password" name="new_password">
                                    <span class="help-block text-danger" *ngIf="recordForm.get('new_password').touched && recordForm.get('new_password').hasError('required')">Field is required</span>
                                    <span class="help-block text-danger" *ngIf="recordForm.get('new_password').touched && !recordForm.get('new_password').valid && recordForm.get('new_password').value.length > 0">Password with at least 6 length, one character, one special character and one number.</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="confirm_password">{{ "confirm_password" | translate }}</label>
                                    <input type="password" class="form-control checking-field" formControlName="confirm_password" name="confirm_password">
                                    <span class="help-block text-danger" *ngIf="recordForm.get('confirm_password').touched && recordForm.get('confirm_password').hasError('required')">Field is required</span>
                                    <span class="help-block text-danger" *ngIf="recordForm.get('confirm_password').touched && !recordForm.get('confirm_password').valid && recordForm.get('confirm_password').value.length > 0">Password with at least 6 length, one character, one special character and one number.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions right">
                            <ar-back-button (click)="doBack()"></ar-back-button>
                            <ar-submit-button></ar-submit-button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>